
body{
    background-image: url(img/fondo.jpg);
    background-size: cover;
}
h1{
    margin: 50px auto;
    color: white;
}
select, .form-control{
    opacity: 0.7;
}
button{
    background-color: greenyellow;
    margin: 20px auto;
}
h4{
    padding: 5px;
}
#caja{
    width: 30%;
    margin: auto;
    background-color: white;
    opacity: 0.7;
}
#instruccion{
     width: 22%;
    margin: 60px 0;
    background-color: white;
    opacity: 0.7;
}
#instruccion{
    color: green;
    border: 2px solid green;
}